
button{
    background-color: rgb(9, 90, 90);
    color: rgb(236, 174, 236);
    border: 10px solid red;

    margin: 50px;
    font-size: large;
}

button:hover{
    background-color: rgb(202, 223, 9);
    color: rgb(92, 77, 12);
    border: 10px dashed blue;
}